body{
    margin:0 8% 0 8%;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

#titre2-1, #titre3-1{
    color : #0382cb
}

#titre2-2, #titre3-2{
    color : #f9ab33
}

#titre2-3, #titre3-3{
    color : #03984d
}

#titre2-4, #titre3-4{
    color : #ea3953
}

.bouton{
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
    color : #000;
    background: #fff;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 10px;
}

.bouton:hover{
    color : #fff;
    background: grey;
}

.activeLink{
    padding-right: 4.3rem;
    font-size: 140%;
    cursor: pointer;
    border-right: solid;
    border-left: solid;
}

.galerie, .menu{
    display : flex;
}

.galerie{
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
}

.menu{
    justify-content: center;
    border: solid;
    border-top: none;
}

.menuLink{
    margin: 10px 0 10px 0;
    width: 20%;
    color : black;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;      
}

.sportItem{
    width: 25%;
    padding: 3%;
    list-style: none;
    margin-bottom: 5%;
    position: relative;
    background: #000;
    color:#fff;
    border-radius: 10%;
}

.sportItem img{
    display: block;
    max-width: 100%;
 
    height: auto;
}

.sportItem h2{
    text-align: center;
}

.burgerButton{
    display: none;
}

.infoContact{
    background: #000;
    color:#fff;
    border-radius : 50px;
    padding: 2%;
    margin:3% auto;
    text-align: center;
    width: 50%;
}

.infoContact h2, #formulaire h2{
    margin-top: 0;
}

#formulaire{
    background: #000;
    color:#fff;
    border-radius : 50px;
    padding: 2%;
    margin:3% auto;
    text-align: center;
    width: 50%;
}

label{
    width: 13%;
    display: inline-block;
    margin: 4px 0;
    font-weight: bold;
}

#labelMessage{
    width : 40%
}

input[type=text], [type=email]{
    width: 25%;
    background: #000;
    border:none;
    border-bottom: 1px solid #fff;
    color : #fff
}

input[type=submit]{
    width: 20%;
    padding: 1%;
    background: #fff;
    border: 1px solid black;
    border-radius : 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2%;
}

textarea{
    width: 60%;
    height: 100px;
    background : #fff;
    border: 1px solid black;
    resize : none;
}

@media (max-width:1250px){
    .sportItem{
        width : 40%;  
        border-radius: 5%;
    }

    .infoContact, #formulaire{
        width:80%;
        padding: 3%;
    }
}

@media (max-width:710px){
    .menu{
        border: none;
        max-height: 0;
		overflow: hidden;
        flex-direction: column;
        align-items: center;
    }

    .menuLink{
		display: block;
		width: 30%;
	}
    
    .activeLink{
        border-left: none;
        border-right: none;
        border-bottom: solid ;
    }

    .burgerButton{
        display: block; 
        width: 40px;
        margin: 5px auto;
    }

    .burgerButton:hover{
        cursor : pointer
    }

    .line{
        background: #000;
        display: block;
        position: relative;
        border-radius: 3px;
        width:40px;
        height: 3px;
        margin: 10px 0 10px 0 ;
    }


    #menu:target{
		max-height: 2000px;
	}

    .sportItem{
        width : 100%;
        margin-bottom: 50px;
        padding: 7%;
    }

    label{
        width: 30%;
        display: inline-block;
        margin: 4px 0;
        font-weight: bold;
    }

    input[type=submit]{
        width: 40%;
    }
}