body{
    margin:0 8% 0 8%;
    font-family: Arial, Helvetica, sans-serif;
    background: #ccc;
}

h1{
    text-align: center;
}

.galerie, .menu{
    display : flex;
}

.galerie{
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu{
    justify-content: center;
    border: solid;
    border-top: none;
}

.menuLink{
    margin: 10px 0 10px 0;
    width: 20%;
    color : black;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
}

.sportItem{
    width: 30%;
    list-style: none;
}

.sportItem img{
    width : 400px;
    height: 250px;
}